<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @movie.image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @movie.date %>
</p>

<p>
  <strong>Character:</strong>
  <%= @movie.character_id %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
