<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @character.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @character.age %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @character.weight %>
</p>

<p>
  <strong>History:</strong>
  <%= @character.history %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @character.movie.title %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
